:root {
  --black-text-font-size-small: 31px;
  --padding-left-right: 120px;
}
.section-3 .card-deck {
  display: flex;
  justify-content: center;
}
.section-3 .card-deck .card {
  /* min-width: 384px;
    max-width: 384px; */
  margin-top: 23px;
  cursor: pointer;
}
.inside-autovox-radio-button-div {
  top: 400px;
  right: 14vw;
}
.section-5 {
  overflow: hidden;
}
.inside-autovox {
  top: 5vw;
}
.section-4 {
  overflow: hidden;
  min-height: 80vh;
  padding-top: 80px;
}
.use-case-radio-button-div {
  /* right: 15vw; */
  right: 10%;
  top: 22%;
}
.margin-top-change-inside-auto-vox {
  margin-top: 8%;
}
.inside-box-section-8 {
  margin-left: 210px;
}
.contact-us-box-img-blue {
  margin-left: 124px;
}
.contact-us-box-img-green {
  margin-left: 208px;
}
.our-api {
  margin-top: 13vh;
}
.header {
  padding: 30px 120px;
  /* background: #555; */
  /* color: #f1f1f1; */
  z-index: 1;
}

@media screen and (min-width: 1300px) {
}
@media screen and (min-width: 1200px) {
  .section-3 {
    padding-left: var(--padding-left-right);
    padding-right: var(--padding-left-right);
  }
  .mid-section {
    margin: 0 var(--padding-left-right);
  }
  .section-4 {
    padding-left: 220px;
    padding-right: 220px;
  }
  .use-case-radio-button-div {
    position: absolute;
  }
  .graph-img img {
    max-width: 300px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .section-7 {
    padding: 0px 30px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .form-fill {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 400px;
  }
}
@media screen and (max-width: 1200px) {
  .use-case-radio-button-div {
    margin-top: 20px;
    transform: rotate(-90deg);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .personalized-card {
    padding: 25px;
    max-width: 275px !important;
    width: 275px !important;
  }
  .scene-2-description .card-deck {
    width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 70px;
  }
  .high-quility-speech-info-div {
    right: -100px;
    top: -65px;
  }
  .arrow-img {
    top: 128px;
    left: 240px;
    z-index: 1111;
  }
  .graph-img img {
    width: 100%;
  }
  .graph-img {
    top: 22px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1200px) {
  .language-images {
    width: 680px;
  }
  .language-side-images {
    width: 100px;
  }
  .left-image {
    bottom: -360px;
  }
  .right-image {
    bottom: -80px;
  }

  .inside-autovox-radio-button-div {
    top: 350px;
  }
  .section-7 .card .card-title {
    font-size: 25px;
  }
  .section-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 992px) {
  .high-quility-speech-info-div {
    right: 0px;
    top: -65px;
    /* position: absolute; */
  }
  .header {
    padding: 70px 20px;
    /* background: #555; */
    /* color: #f1f1f1; */
    z-index: 1;
  }
  .use-case-radio-button-div {
    margin-top: 20px;
    transform: rotate(-90deg);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .automated-pic-show {
    max-height: 770px;
    /* height: 650px; */
    transform: scale(1.1);
  }
  .inside-autovox-radio-button-div {
    margin-top: -35px;
    transform: rotate(-90deg);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .high-quility-speech-info-div {
    right: -100px;
    top: -65px;
    /* position: absolute; */
  }
  .inside-autovox-radio-button-div {
    position: absolute;
  }
}

@media screen and (max-width: 992px) and (min-width: 767px) {
  .inside-autovox-radio-button-div {
    top: 280px;
    right: 10vw;
  }
  .automated-pic-show {
    width: 105%;
  }

  .section-7 .card {
    height: 300px;
    /* padding: 32px;
  max-width: 310px; */
    padding: 20px;
    margin: 10px;
  }

  .section-7 .card img {
    font-size: 25px;
  }
  .use-case-img-background-animation {
    width: 250px;
  }

  .use-case-img-animation {
    width: 260px;
    top: -100px;
    left: 90px;
    max-height: 200px;
    clip: rect(-11px, 204px, 383px, 0px);
  }
  /* .use-case-radio-button-div {
    left: 300px;
    top: 100px;
  } */
  .use-case-img-animation {
    top: -57px;
    left: 75px;
    max-height: 300px;
    clip: rect(-11px, 137px, 383px, 0px);
  }
  .use-case-img-background-animation {
    width: 200px;
    height: 210px;
  }
  .margin-top-change-inside-auto-vox {
    margin-top: 20%;
  }
  .inside-autovox {
    /* left: 35%; */
  }
  .automated-pic-show {
    left: -100px;
  }
  .inside-box-section-8 {
    margin-left: 0px;
  }
  .contact-us-box-img-blue {
    margin-left: 62px;
  }
  .contact-us-box-img-green {
    margin-left: 102px;
  }
  .form-fill {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 400px;
  }
}

@media screen and (min-width: 767px) {
  .margin-change-language-barier {
    margin-top: 140px;
  }
  .section-3 .card-deck .card {
    max-width: 384px;
  }

  .card-img-box {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .language-images {
    width: 65%;
    object-fit: contain;
  }

  .language-side-images {
    width: 50px;
  }
  .left-image {
    bottom: -255px;
  }
  .right-image {
    bottom: -50px;
  }
  .margin-change-language-barier {
    margin-top: 200px;
  }
  .section-3 .card-deck {
    display: flex;
    flex-direction: column;
  }
  .section-3 .card-deck .card {
    min-width: 340px;
    max-width: 340px;
    align-self: center;
    /* margin-top: 23px;
    cursor: pointer; */
    padding: 20px;
  }
  .section-3 .card-deck .card .card-imgs {
    width: 150px;
    height: 110px;
  }
  .section-3 .card-deck .card-body {
    padding: 5px;
  }
  /* same as above only 1 image coming as big */
  .our-api-img-special-case {
    width: 50px !important;
    height: 80px !important;
    margin-bottom: 5px;
  }

  .mid-section {
    margin-top: 15vh;
  }
  .mid-section-img img {
    width: 200px;
  }
  .inside-autovox-radio-button-div {
    top: 250px;
    right: 10vw;
  }
  .automated-pic-show {
    width: 105%;
    left: -115px;
    transform: scale(1.2);
    top: 0px;
  }
  .inside-autovox {
    /* left: 32%; */
  }
  .section-6 {
    padding: 20px 20px;
  }
  .margin-top-change-screen-res {
    margin-top: 100px;
  }
  .section-9 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .inside-box-section-8 {
    margin-left: 112px;
  }
  .contact-us-inside-box-div {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  .contact-us-box-img-blue {
    margin-left: 62px;
  }
  .contact-us-box-img-green {
    margin-left: 102px;
  }
  .section-8 {
    margin-top: 50%;
  }
  .form-fill {
    position: initial;
    left: 10px;
    margin: 10px auto;
  }
  .use-case-span-div {
    width: fit-content;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
  }
  .scene-1-heading {
    /* width: fit-content; */
    margin-left: auto;
    text-align: center;
    margin-right: auto;
  }

  .scene-1-heading-absolute {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    min-width: 367px;
    /* width: fit-content; */
    text-align: center;
  }
  .scene-1-description {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
  }
  .secton-4-background-person-img {
    /* width: 100%; */
    text-align: center;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }
  .section-6 {
    text-align: center;
  }
  .get-in-touch-looking-for-multilingual {
    margin-left: auto;
    margin-right: auto;
  }
  .early-api-access {
    margin-left: auto;
    margin-right: auto;
  }
  .mid-section {
    text-align: center;
  }
  .mid-section-img {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .show-in-low {
    display: inline;
  }
  .hide-in-low {
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .section-7 .card .card-title {
    font-size: 25px;
  }
  .section-7 .card {
    height: 250px;
    /* padding: 32px;
  max-width: 310px; */
    padding: 15px;
    margin: 5px;
  }
  .margin-top-change-inside-auto-vox {
    margin-top: 40%;
  }
  .inside-autovox {
    left: 41%;
    /* top: 55px; */
  }
  .automated-pic-show {
    left: -100px;
  }
  .section-4 {
    /* padding-left: 10%; */
  }
}

@media screen and (max-width: 576px) {
  .language-images {
    width: 400px;
  }

  .language-side-images {
    width: 35px;
  }
  .left-image {
    bottom: -200px;
  }
  .right-image {
    bottom: -35px;
  }
  .section-3 .card-deck {
    display: flex;
    flex-direction: column;
  }
  .section-3 .card-deck .card {
    align-self: center;
    width: fit-content;
  }
  .mid-section-img img {
    width: 150px;
  }
  .mid-section {
    margin-top: 13vh;
    padding-left: 0px;
    padding-right: 0px;
  }
  .early-api-access {
    min-width: 50vw;
  }
  .inside-autovox-radio-button-div {
    top: 150px;
  }

  .automated-pic-show {
    /* width: 100%; */
    left: -105px;
    transform: scale(1.2);
  }
  .inside-autovox {
    /* left: 41%; */
    top: 0px;
    /* left: 31%; */
    margin-left: auto;
    top: 0px;
    margin-right: auto;
    left: 20px;
    right: 0px;
  }
  .card-deck-2 {
    margin-top: -10px;
  }
  .language-should-not-barrier,
  .section-heading,
  .metadata-api,
  .scene-1-heading,
  .looking-for-multilingual-content,
  .data-and-diversity {
    font-size: var(--black-text-font-size-small);
  }
  .margin-top-change-inside-auto-vox {
    margin-top: 38%;
  }
  .change-flex-direction {
    flex-direction: column;
  }
  .footer-autovox {
    margin-top: 30px;
  }
}
@media screen and (min-width: 576px) {
}
.height-100 {
  height: 100vh;
}

@media screen and (max-width: 460px) {
  /* .inside-autovox {
    left: 28%;
    top: 20px;
  } */
  /* .automated-pic-show {
    width: 140%;
    left: -95px;
  } */

  .use-case-img-animation {
    top: -60px;
    left: 74px;
    max-height: 270px;
    clip: rect(-11px, 135px, 383px, 0px);
  }
  .use-case-img-background-animation {
    width: 200px;
  }
  /* .use-case-radio-button-div {
    left: 300px;
    top: 100px;
  } */
  .margin-top-change-inside-auto-vox {
    margin-top: 55%;
  }
  .language-images {
    width: 300px;
  }
  .left-image {
    bottom: -150px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .scene-1-heading {
    font-size: 35px;
  }
}

@media screen and (max-width: 334px) {
  /* .use-case-radio-button-div {
    left: 240px;
  } */
}
