:root {
  --blue: linear-gradient(96.87deg, #6a47ff 2.65%, #bc4fff 100%);
  --carousel-radio-button: #72f6ed;
  --white: #ffffff;
  --padding-left-right: 120px;
  --grey-text-font-size: 20px;
  --grey-text-font-color: grey;
  --black-text-font-size: 40px;
  --black-text-font-weight: bold;
  --audio-transcription-api-box: #dcfcfb;
  --video-transcription-api-box: #c8b8d8;
  --machine-transcription-api-box: #e4e7da;
  --black-text-font-size-small: 35px;
}
body {
  padding: 0px;
  margin: 0px;
}
#map {
  height: 152px;
  /* The height is 400 pixels */
  width: 277px;
  /* The width is the width of the web page */
}
b {
  font-weight: bold;
}
button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0px;

  /* margin-top: 28px; */
  /* background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(66px); */
}
.section-1 {
  background-size: 101%;
  /* backdrop-filter: blur(66px); */
  /* Note: backdrop-filter has minimal browser support */
  /* transform: rotate(90deg); */
}
.section-sub-1 {
  position: absolute;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.82) 0%,
    rgba(255, 255, 255, 0) 56.21%,
    #ffffff 103.14%
  );
  mix-blend-mode: normal;
}
.voice-os,
.bharat {
  /* font-size: 80px;
  font-weight: bold; */
  /* position: absolute;
width: 738px;
height: 168px;
left: 351px;
top: 212px; */

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 100%;
  /* or 88px */

  /* display: flex;
align-items: center;
text-align: center; */
  letter-spacing: -0.015em;
}
.bharat-color {
  color: #8766fe;
}
.ai-powered {
  /* color: var(--grey-text-font-color);
  font-size: var(--grey-text-font-size); */

  /* position: absolute;
width: 395px;
height: 72px;
left: 523px;
top: 404px; */

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */
  /* 
display: flex;
align-items: center;
text-align: center; */

  /* Black */

  color: #11142d;
  opacity: 0.77;
}
.autovox {
  font-size: 23px;
  font-weight: 400;
}
.flex {
  display: flex;
}
.center {
  align-self: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.head-nav {
  cursor: pointer;
}
.flex-direction {
  flex-direction: column;
}
.height-94 {
  height: 94vh;
}

.language-should-not-barrier {
  font-size: var(--black-text-font-size);
  font-weight: var(--black-text-font-weight);
  font-family: Proxima Nova;
  font-style: normal;
  line-height: 110%;
  color: #11142d;
}
.audio-transcription {
  font-size: var(--grey-text-font-size);
  /* color: var(--grey-text-font-color); */
  /* position: absolute;
width: 545px;
height: 48px;
left: 448px;
top: 1045px; */

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  /* font-size: 20px; */
  line-height: 140%;
  /* or 28px */

  /* display: flex;
align-items: center;
text-align: center; */

  /* Black */

  color: #11142d;
  opacity: 0.66;
}
.section-heading {
  font-size: var(--black-text-font-size);
  font-weight: var(--black-text-font-weight);
}
.section-3 .card-deck {
  margin-left: 0px;
  margin-right: 0px;
}
.section-3 {
  padding-left: 0px;
  padding-right: 0px;
}
.section-4 .row {
  margin: 0px !important;
}
.left-image {
  left: 0px;
  bottom: -415px;
}
.right-image {
  right: 0px;
  bottom: -175px;
}
.our-api {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */
  /* display: flex;
align-items: center;
text-transform: uppercase; */
  /* color: #BC4FFF; */
}
.metadata-api {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: var(--black-text-font-weight);
  font-size: var(--black-text-font-size);
  line-height: 110%;
  /* or 44px */

  /* display: flex;
  align-items: center;
  text-align: center; */

  /* Black */

  color: #11142d;
}
.break-at-laptop {
  display: none;
}
.show-from-laptop {
  display: none;
}
.show-till-laptop {
  display: inline;
}
.get-in-touch-1 {
  padding: 13px 40px;
  height: 50px;
  background: linear-gradient(96.87deg, #6a47ff 2.65%, #bc4fff 100%);
  border-radius: 12px;
}
.get-in-touch-2 {
  padding: 13px 40px;
  height: 56px;
  background: var(--blue);
  border-radius: 12px;
}
.experience-magic,
.one-langauge {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 120%;
  /* display: flex;
    align-items: center; */
}

@media screen and (min-width: 992px) {
  header {
    /* padding: 0px var(--padding-left-right); */
  }

  .section-6 {
    margin-left: var(--padding-left-right);
    margin-right: var(--padding-left-right);
  }
  .show-from-laptop {
    display: inline;
  }
  .show-till-laptop {
    display: none;
  }
  .section-7 {
    padding-left: var(--padding-left-right);
    padding-right: var(--padding-left-right);
  }
}

@media screen and (min-width: 767px) {
  .head-nav {
    margin: 0px 15px;
  }

  .break-at-laptop {
    display: inline;
  }

  .section-9 {
    padding-left: var(--padding-left-right);
    padding-right: var(--padding-left-right);
  }
}
.one-langauge {
  font-weight: bold;
}
/* media query 767px over------- */
.voice-main-section {
  display: flex;
  justify-content: center;
}
.voice-section {
  margin-top: 20vh;
}
.text-align-center {
  text-align: center;
}
.get-in-touch-color {
  background: var(--blue);
}

.get-in-touch-1,
.get-in-touch-2 {
  color: white;
  border-width: 0px !important;
  font-size: 18px;
}

img {
  font-size: 15px;
}
.margin-top-5 {
  margin-top: 8vh;
}

.max-width-200 {
  max-width: 200px;
}
.card-imgs {
  object-fit: scale-down;
  /* max-height: 150px; */
  align-self: center;
}
.card-img-box {
  display: flex;
  justify-content: center;
}

.card-img-1-box {
  background: linear-gradient(
    180deg,
    rgba(79, 255, 244, 0.12) 31.58%,
    rgba(255, 255, 255, 0.0288) 81.06%,
    rgba(255, 255, 255, 0.12) 100%
  );
  border-radius: 36px;
}

.section-3 .card-deck .card {
  border-radius: 25px;
}

@keyframes activeToDisable {
  from {
    opacity: 1;
    /* display: none; */
  }
  to {
    opacity: 0;
  }
}
@keyframes disableToActive {
  from {
    opacity: 0;
    /* display: none; */
  }
  to {
    opacity: 1;
  }
}

.active {
  animation-name: disableToActive;
  animation-duration: 0.1s;
}
.disable {
  /* display: none; */
  animation-name: activeToDisable;
  animation-duration: 0.5s;
  /* opacity: 0; */
  /* activeToDisable */
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.scene-box {
  /* position: absolute; */
  width: 281px;
  height: 304px;

  background: #4ffff4;
  border-radius: 159px;
}
.space-between {
  justify-content: space-between;
}
@keyframes pictureTurnsBright {
  from {
    filter: brightness(0%);
    transform: scale(1.02);
  }
  to {
    filter: brightness(100%);
    transform: scale(1);
  }
}
.black-fadeIn {
  animation-name: pictureTurnsBright;
  animation-duration: 0.3s;
}

.radio-button,
.radio-button-one {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* color: white; */
  background-color: white;
  margin-top: 12px;
  cursor: pointer;
}
.active-carousel-radio {
  background-color: var(--carousel-radio-button);
}
.disactive-carousel-radio {
  background-color: black;
}
/* . {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin-top: 12px;
  cursor: pointer;
} */

.card-title {
  /* position: absolute;
  width: 201px;
  height: 64px;
  left: 212px;
  top: 2238px; */

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */
  /* 
display: flex;
align-items: center;
text-align: center; */

  /* Black */

  color: #11142d;
}

.card-text {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  /* display: flex;
align-items: center;
text-align: center; */
}
.card-img-2 {
  background: linear-gradient(
    180deg,
    rgba(106, 71, 255, 0.12) 31.58%,
    rgba(255, 255, 255, 0.0288) 81.06%,
    rgba(255, 255, 255, 0.12) 100%
  );
  border-radius: 36px;
}
.card-img-3 {
  background: linear-gradient(
    180deg,
    rgba(249, 255, 180, 0.32) 0%,
    rgba(255, 255, 255, 0.0768) 81.06%,
    rgba(255, 255, 255, 0.32) 100%
  );
  border-radius: 36px;
}
.card {
  box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.08);
  border-radius: 36px;
  border: 0px;
}
.mid-section {
  background: #11142d;
  border-radius: 36px;
  padding-left: 100px;
  padding-right: 100px;
}
.mid-section {
  margin-left: 0px;
  margin-right: 0px;
}
.early-api-access {
  background: #ffffff;
  border-radius: 12px;
  padding: 13px 48px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  /* identical to box height, or 129% */

  text-transform: uppercase;
  width: fit-content;

  /* Black */

  color: #11142d;
}
.sky-blue-color {
  color: #71f7f5;
}
.white-color {
  color: #ffffff;
}

.use-case {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */

  /* display: flex;
align-items: center;*/
  text-transform: uppercase;

  color: #6a47ff;
}
.scene-1-heading {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: var(--black-text-font-weight);
  font-size: var(--black-text-font-size);
  line-height: 110%;
  color: #000000;
}
.scene-1-description {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */

  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.66);

  opacity: 0.77;
}
.inside-autovox {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
  color: #00bc87;
  left: 45%;
}
.arrow-img {
  top: 128px;
  left: 330px;
  z-index: 1111;
}
.scene-2-heading {
  /* position: absolute;
width: 480px;
height: 88px;
left: 480px;
top: 3015px; */

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  /* or 44px */

  /* display: flex;
align-items: center;
text-align: center; */

  color: #000000;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.inside-autovox-card-head-text {
  font-family: Proxima Nova;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  /* display: flex;
  align-items: center; */

  color: #000000;
  margin-top: 30px;
}
.bold {
  font-weight: bold;
}
.section-5 .card-deck {
  margin-left: 0px;
  margin-right: 0px;
}

.section-6 {
  background: linear-gradient(96.87deg, #6a47ff 2.65%, #bc4fff 100%);
  border-radius: 36px;
  padding: 40px 100px;
}

.get-in-touch-looking-for-multilingual {
  padding: 13px 48px;
  height: 45px;
  margin: 10px 0px;
  max-width: 200px;

  background: #ffffff;
  border-radius: 12px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  color: #11142d;
  align-self: flex-end;
}
.looking-for-multilingual-content {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: var(--black-text-font-weight);
  font-size: var(--black-text-font-size);
  line-height: 110%;
  /* display: flex;
  align-items: center; */
  color: #ffffff;
}
.section-7 {
  margin-top: 200px;
}

.our-usp {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  margin-top: 67px;
  color: #2daeff;
}
.data-and-diversity {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 100;
  /* font-weight: var(--black-text-font-weight); */
  font-size: var(--black-text-font-size);
  line-height: 110%;
  margin-top: 10px;
  color: #11142d;
}
.section-7 .card-deck-initialize {
  margin-top: 67px;
}

.use-case-img-animation {
  top: -90px;
  left: 90px;
  max-height: 400px;
  clip: rect(-11px, 204px, 383px, 0px);
}
.section-8 {
  background: linear-gradient(96.87deg, #6a47ff 2.65%, #bc4fff 100%);
  padding-top: 60px;
  padding-bottom: 10px;
}
.contact-us-inside-box {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */

  /* display: flex;
align-items: center;
text-transform: uppercase; */

  color: #4ffff4;
}
.early-access-inside-box {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  /* or 44px */

  /* display: flex;
align-items: center; */

  color: #ffffff;
}
.contact,
.follow-us,
.office-location {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* display: flex;
align-items: center;
text-transform: uppercase; */

  color: #808080;
}
.contact-details {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* or  */

  /* display: flex;
align-items: center; */

  color: #011d20;
}
.social-imgs {
  margin-right: 20px;
  cursor: pointer;
}
.section-9 {
  padding-top: 60px;
  padding-bottom: 102px;
}
html {
  scroll-behavior: smooth;
}
header a,
header a:hover {
  color: #11142d;
  text-decoration: none;
}
.form-fill {
  border-radius: 36px;
  max-width: 550px;
  padding: 40px;

  position: absolute;
  top: 60px;
  right: 100px;
}

.form-fill-submit-button {
  padding: 13px 40px;

  /* position: absolute; */
  width: 200px;
  height: 56px;
  /* left: 1096px;
top: 6624px; */

  /* Grad */

  border-radius: 12px;
  /* float: right; */
  /* clear: both; */
}

.form-fill-heading {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.section-2 {
  background-image: url("https://res.cloudinary.com/dch9bhewr/image/upload/v1607573427/autovox/2nd_Section_BG_sevgsb.png");
}
#success-register {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #28a745;
  display: none;
}
#failed-register {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  display: none;
}
.form select select,
#inputCategory,
#inputCountry {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* font-size: 14px; */
}

.video-transcription-for-your {
  /* background: #fafddc;
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.12); */
  border-radius: 36px;
}

.pic-2-card-video-number {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */

  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.44);
  margin-top: 8px;
}

.pic-2-zero-row1 {
  width: 112px;
  height: 8px;
  left: 928px;
  top: 3311px;

  /* Black */

  background: #11142d;
  opacity: 0.24;
  border-radius: 44px;
  margin-top: 8px;
}

.pic-2-zero-row2 {
  width: 146px;
  height: 8px;
  left: 928px;
  top: 3327px;
  margin-top: 8px;

  /* Black */

  background: #11142d;
  opacity: 0.24;
  border-radius: 44px;
}

.pic-2-six-row1 {
  width: 153px;
  height: 8px;
  left: 929px;
  top: 3371px;

  /* Black */
  margin-top: 8px;

  background: #11142d;
  opacity: 0.24;
  border-radius: 44px;
}
.pic-2-six-row2 {
  width: 114px;
  height: 8px;
  left: 928px;
  top: 3387px;

  /* Black */
  margin-top: 8px;

  background: #11142d;
  opacity: 0.24;
  border-radius: 44px;
}
.pic-2-twelve-row1 {
  width: 73px;
  height: 8px;
  left: 929px;
  top: 3429px;
  margin-top: 8px;

  background: #6a47ff;
  border-radius: 44px;
}
.pic-2-twelve-row2 {
  width: 146px;
  height: 8px;
  left: 928px;
  top: 3445px;
  margin-top: 8px;

  background: #6a47ff;
  border-radius: 44px;
}
.pic-2-eighteen-row1 {
  width: 95px;
  height: 8px;
  left: 929px;
  top: 3489px;

  /* Black */
  margin-top: 8px;

  background: #11142d;
  opacity: 0.24;
  border-radius: 44px;
}

.pic-2-eighteen-row2 {
  width: 120px;
  height: 8px;
  left: 928px;
  top: 3505px;

  /* Black */

  background: #11142d;
  margin-top: 8px;
  opacity: 0.24;
  border-radius: 44px;
}

.hindi-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  /* display: flex;
  align-items: center; */

  color: #000000;
}
.hindi-div-box {
  background: #ffffff;
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.12);
  border-radius: 36px;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

.border-line {
  border: 1px solid #e2e2e5;
}
.border-line img {
  left: 40px;
  top: -15px;
}
.sliding-myform-href {
  text-decoration: none !important;
}
